*, *::after, *::before{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #E1E8ED;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
}

.key{
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 0),
        var(--saturation, 0%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 60%))
    );
    color: #F5F8FA;
    fill: #E1E8ED;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}

.key.large{
    grid-column: span 3;
}

.key > svg{
    width: 1.75em;
    height: 1.75em;
}

.key:hover, .key:focus{
    --lightness-offset: 10%;
}

.key.wrong{
    --lightness: 23%;
}

.key.wrong-location{
    --hue: 0;
    --saturation: 0%;
    --lightness: 75%
}

.key.correct{
    --hue: 200;
    --saturation: 100%;
    --lightness: 51%
}

.header{
    text-align: center;
    color: #1DA1F2;
}
.tweet-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #657786;
}